/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#notice {
  color: hsl(141, 71%,  48%);
}

.has-margin-bottom-zero {
  margin-bottom: 0!important;
}

.has-margin-top {
  margin-top: 30px;
}

.has-margin-bottom {
  margin-bottom: 30px;
}

.has-small-margin-top {
  margin-top: 10px;
}

.has-padding {
  padding: 30px;
}

.has-2em-padding {
  padding: 2em!important;
}

.has-small-padding {
  padding: 3px;
}

.has-small-margin-left {
  margin-left: 10px;
}

.no-shadow {
  box-shadow: 0 0 0!important;
}

.has-shadow {
  box-shadow: inset 8px 0 13px rgba(0,0,0,.15), 6px 8px 12px -3px rgba(0,0,0,0.26);
}

.book-img {
  max-width: 200px;
}

.book-title {
  font-size: 1.15rem!important;
}

.blog-content {
  max-width: 59.0625rem;
  margin: 0 auto;
}

.portfolio-img {
  border: solid 1px #ececec;
}

.no-border {
  border: none!important;
}

@media only screen and (max-width: 750px) {
  .mobile-centered {
    text-align: center!important;
  }
  .related-book-img {
    max-width: 250px;
  }
  .mobile-border-bottom {
    border-bottom: 1px solid #e1e4e8
  }
}

.user-icon {
  border-radius: 50%;
}

html, body {
  height: 100%;
  margin: 0;
}

.container {
  min-height: 100%!important;
}

.reverse-row-order {
  flex-direction: row-reverse;
}

.twitter-button {
  background-color: rgb(29, 161, 242)!important;
  color: #fff!important;
}

footer {
  height: 50px;
}

.tab li {
  color: #333;
  display: inline;
  padding: 10px 10px;
  cursor: pointer;
  list-style: none;
  transition: .8s;
}
.area ul {
  display: none;
}
.area ul.show {
  display: block;
}

/* portfolios#index */
.has-border-bottom {
  border-bottom: 1px solid #e1e4e8
}

.bg-ef {
  background-color: #EFEFEF;
}

.bg-fa {
  background-color: #fafafa;
}

.side-panel {
  border-radius: 4px;
  height: 100%;
}

/* schedules#show */
.balloon5 {
  width: 100%;
  margin: 1.5em 0;
  overflow: hidden;
}

.balloon5 .faceicon {
  float: left;
  margin-right: -90px;
}

.balloon5 .faceicon img{
  height: auto;
  border-radius: 50%;
}

.balloon5 .chatting {
  width: 100%;
}

.says {
  display: inline-block;
  position: relative;
  margin: 5px 0 0 50px;
  border-radius: 12px;
}

.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 18px;
  left: -24px;
  border: 12px solid transparent;
}

.says p {
  margin: 0;
  padding: 0;
}

.is-size-09 {
  font-size: 0.9em;
}

/* カルーセル */
.scroll-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}
.scroll-item {
  scroll-snap-align: center;
}
.scroll-container[data-layoutmethod="flexbox"] {
  display: flex;
  flex-wrap: nowrap;
}
.scroll-container[data-layoutmethod="flexbox"] .scroll-item {
  margin-bottom: 3em;
  flex: 0 0 auto;
}
.scroll-container[data-layoutmethod="grid"] {
  display: grid;
  grid: auto / auto-flow max-content;
  grid-gap: 1em;
  align-items: center; /* vertically align children */
}
.scroll-item {
  width: 275px;
  max-width: 275px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}