- if Rails.env.production?
  script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-158933887-1"
  javascript:
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-158933887-1');